<table class='table table-bordered table-striped table-hover messages-table'>
  <tbody>
    {{#each data in controller}}
      <tr>
        <th>{{data.nickname}}:</th> 
        <td>{{data.message}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
